<div class="row">
    <div class="col">
        <button type="submit" class="btn btn-outline-success form-control">Save</button>
        &nbsp;
    </div>
    <div class="col">
        <a asp-action="Index" class="btn btn-outline-danger form-control">Cancel</a>
    </div>
</div>
